<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width", initial-scale=1.0>
      <title>Document</title>

      <style>
         .lead {
           padding-top: 10px;
           padding-bottom: 10px;
           padding-left: 6px;
           padding-right: 6px;
           margin-top: 10px;
           background-color: #f6f6f6;
           width:100%;
           font-family: sans-serif;
           font-weight: bold;
         }
      </style>
    </head>
    <body>
         <a href="/leads/">Go back to leads</a>
         <hr/>
        <div class = "lead">
        <h1>Name: {{lead.first_name}}</h1>
        <p>Person Age : {{lead.age}}</p>
        </div>
    </body>
</html>